@charset "ISO-8859-1"; 


html, body {
	text-align:center;
}

table {
  margin-left: auto;
  margin-right: auto;
	width: auto;
	
}

table, th, td {
	justify-content:center;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
}